@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400..900&family=Geist+Mono:wght@100..900&display=swap");

:root {
  --background: #ffffff;
  --foreground: #171717;
}

code {
  font-family: "Geist Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
  @apply bg-gray-200/60;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
  code {
    @apply bg-gray-800;
  }
}

html {
  font-size: 24px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  @apply subpixel-antialiased;
}

h1 {
  @apply text-4xl;
  @apply font-bold;
}
